<template name="portal_admin_home">

	<div class="navigation-bar">

        <button type="button" class="btn btn-default" data-toggle="offcanvas">
            <i class="fa fa-bars"></i>
        </button>

		<span class="navigation-title dropdown">
			{{_ "portal_admin_home"}}
		</span>
		<div class="pull-right">
		</div>
	</div>
	<div class="cell content">

		<div class="bd">
			<div class="weui_cells weui_cells_access">
				<a class="weui_cell navigation" href="/admin/view/portal_dashboards/">
					<div class="weui_cell_hd"><i class="fa fa-fw fa-dashboard"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "portal_dashboard_settings"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
			</div>
		</div>

		<div class="bd">
			<div class="weui_cells weui_cells_access">
				<a class="weui_cell navigation" href="/admin/view/apps_auths/">
					<div class="weui_cell_hd"><i class="fa fa-fw fa-dashboard"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "apps_auths_settings"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
			</div>
		</div>

		<div class="bd">
			<div class="weui_cells weui_cells_access">
				<a class="weui_cell navigation" href="/admin/view/apps_auth_users/">
					<div class="weui_cell_hd"><i class="fa fa-fw fa-dashboard"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "apps_auth_users_settings"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
			</div>
		</div>
		
		<div class="bd">
			<div class="weui_cells weui_cells_access">
				<a class="weui_cell" href="/steedos/help">
					<div class="weui_cell_hd"><i class="ion ion-help-circled"></i></div>
					<div class="weui_cell_bd weui_cell_primary">
						&nbsp;{{_ "Help"}}
					</div>
					<div class="weui_cell_ft">
					</div>
				</a>
			</div>
		</div>


	</div>

</template>