<template name="portal_home">

	<div class="navigation-bar">

        <button type="button" class="btn btn-default" data-toggle="offcanvas">
            <i class="fa fa-bars"></i>
        </button>

		<span class="navigation-title dropdown">
			{{Dashboard.name}}
		</span>
		<div class="pull-right">
		</div>
	</div>
	<div class="cell content portal-home-content">
    <div class="freeboard-panes" id="freeboard-panes-{{Dashboard._id}}">
      {{{freeboardTemplate Dashboard._id Dashboard.freeboard 1}}}
    </div>



<!--       {{#each Widgets}}
        <div class="col-md-{{cols}} border-right">
          <div class="box box-primary box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">{{title}}</h3>

              <div class="box-tools pull-right">

              </div>
            </div>
            <div class="box-body" id="portal-widget-{{_id}}-content">
              {{{widgetTemplate _id template data}}}
            </div>
          </div>
        </div>
      {{/each}} -->
	</div>

</template>